html,
body {
  height: 100%;
}

body {
  background-color: #f4f4f0;
  display: grid;
  font-family: 'Segoe UI', Arial, sans-serif;
  grid-template-rows: 3fr 1fr;
  margin: 0;
  place-items: center;
}

.error-message {
  color: #B70000;
  background-color: #FFE4E4;
  border: 0.063rem solid #B70000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 18.75rem;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.313rem;
}

.input {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 1px solid #000;
  display: block;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  width: 100%;
}

.input:focus-within {
  outline: 0.125rem solid #ff90e8;
}

.button {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.14s ease-out;
}

.button:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
  transform: translate(-0.25rem, -0.25rem);
}

.button:active {
  box-shadow: 0 0 0 #000;
  transform: translate(0, 0);
}

.button-primary {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.button-primary:hover {
  background-color: #ff90e8;
  border-color: #000;
  color: #000;
}

.login {
  width: 100%;
}