*,
::after,
::before {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #f4f4f0;
  color: #212529;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100dvh;
  line-height: 1.5;
  margin: 0;
}

header,
nav,
main,
footer {
  width: 100%;
}

header {
  background-color: #365de3;
  border-bottom: 2px solid #000;
  display: none;
  height: 8.75rem;
}

header a {
  color: #dfff00;
  font-size: 5rem;
  font-weight: 900;
  margin-left: 1.5rem;
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: #365de3;
  border-bottom: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #dfff00;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 900;
  margin-right: 1rem;
  padding: 0.3125rem 0;
  text-decoration: none;
}

.navbar-toggler {
  background-color: #dfff00;
  border-radius: 0.25rem;
  border: 1px solid #262626;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
}

.navbar-toggler:hover {
  background-color: #d4f300;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;
}

.nav-link {
  color: #dfff00;
  font-size: 1rem;
  padding: 0.5rem 0;
  text-decoration: none;
}

.nav-link:hover,
.active {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* Main */

main {
  background-color: #fff;
  border-bottom: 2px solid #000;
  color: #000;
  flex-grow: 1;
  padding: 0.625rem;
}

/* Footer */

footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Work Tab */

.project {
  margin-bottom: 1.25rem;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}

.project-link {
  display: block;
  text-decoration: none;
}

.thumbnail {
  aspect-ratio: 39 / 7;
  display: block;
  object-fit: cover;
  width: 100%;
}

.thumbnail:hover {
  filter: opacity(90%);
}

.project-title {
  color: #999;
  font-size: 1.125rem;
  padding: 0.4rem 0;
  text-align: center;
}

.project-link:hover .project-title {
  color: #666;
}

/* Project page */

.projects article {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.projects img {
  height: auto;
  width: 100%;
}

.projects h1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.75rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* About Tab */

.about {
  text-align: center;
}

.about .myphoto {
  border-radius: 50%;
  width: 7.5rem;
}

.location-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.3.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons  Inc. --%3E%3Cpath d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 1rem;
  vertical-align: -0.125rem;
  width: 1rem;
}

/* Contact Tab */

.contact .form-contact-parent {
  display: table;
  width: 100%;
}

.contact div.form-contact {
  display: table-row;
}

.contact label,
.contact input {
  display: block;
  margin-bottom: 0.625rem;
}

.contact label {
  padding-right: 0.625rem;
  vertical-align: top;
}

.contact .address,
.contact .form-contact {
  display: table-cell;
}

.contact .address,
.contact .form-contact-parent {
  text-align: left;
}

.contact .address {
  padding-top: 1rem;
}

.contact textarea {
  resize: vertical;
}

.contact .form-contact-parent input,
.contact .form-contact-parent textarea {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 0.063rem solid #000;
  font-family: inherit;
  font-size: inherit;
  padding: 0.625rem 0.9375rem;
  width: 100%;
}

.contact input:focus-within,
.contact textarea:focus-within {
  outline: 0.125rem solid #ff90e8;
}

.contact input[type=submit] {
  background: linear-gradient(180deg, rgba(119,175,32,1) 0%, rgba(44,79,23,1) 100%);
  border: none;
  color: white;
  font-size: 1.25rem;
  margin-left: auto;
  margin-top: 0.625rem;
  min-width: 8.75rem; /* TODO removed !important */
  padding: 0.9375rem 1.5rem;
  text-transform: uppercase;
}

.contact input[type=submit]:hover {
  background: linear-gradient(0deg, rgba(119,175,32,1) 0%, rgba(44,79,23,1) 100%);
  cursor: pointer;
}

.contact h4 {
  font-size: 1rem;
  margin: 0;
}

.icon {
  display: inline-block;
  height: 1rem;
  height: 1rem;
  vertical-align: baseline;
  width: 1rem;
}

/* 768px and larger */
@media screen and (min-width: 48rem) {

  html {
    overflow-y: scroll;
  }

  header,
  nav,
  main,
  footer {
    max-width: 51.25rem;
    padding: 1.25rem;
  }

  /* Header */

  header {
    align-items: center;
    display: flex;
  }

  header a {
    margin-left: 1.25rem;
  }

  /* Navbar */

  .navbar {
    background-color: #dfff00;
    justify-content: flex-start;
    padding: 0;
    padding-left: 1.25rem;
  }

  .collapse:not(.show) {
    display: block;
  }

  .navbar-brand,
  nav button {
    display: none;
  }

  .nav-link {
    color: #000;
    border-radius: 0;
    padding: 0.5rem 3rem;
    font-size: 1.125rem;
  }

  .nav-link:hover,
  .active {
    color: #dfff00;
    background-color: #000;
    text-decoration: none;
  }

  .navbar-nav {
    flex-direction: row;
    gap: 0;
    margin-top: 0;
    justify-content: flex-start;
  }

  /* Work Tab */

  .project {
    border: none;
  }

  .project-title {
    padding-top: 0.75rem;
    padding-bottom: 0;
  }

  /* Contact Tab */

  .contact label {
    display: table-cell;
    padding-top: 0.5rem;
  }

  .contact .table-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .contact .address {
    order: 1;
  }

  .contact .table-wrapper form {
    order: 2;
  }

  .contact .address,
  .contact .table-wrapper form {
    flex-grow: 1;
  }

}